@{
  Layout="Shared/_Layout.cshtml";
}
<h1>All your contacts have been deleted</h1>
<p><a href="/contact_form" class="btn btn-md btn-success">Click here to create new contact</a></p>
<p><a href="/" class="btn btn-md btn-warning">Home Page</a></p>
