<h1 class="jumbotron">Add a new contact</h1>
<form action="/contacts" method="post">
<div class="panel panel-info">
  <div class="panel panel-heading">Input name, address, phone number and email</div>
  
