@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Your Address Book</h1>
<div class="well">

  @if (@Model.Count == 0)
  {
    <h4> Your Address Book is empty </h4>
  }
  else
  {
    <ul>
          @foreach (var entry in Model)
          {
            int entryId = @Model.IndexOf(@entry) + 1;
            <li><a href="/contacts/@entryId"> @entry.GetName() </a></li>
          }
    </ul>
  }

</div>
<p><a href="/contact_form" class="btn btn-md btn-success">Click here to create new contact</a></p>
<p><a href="/" class="btn btn-md btn-warning">Home Page</a></p>
<form action="/contacts_cleared" method="post">
  <button type="submit" class="btn btn-danger btn-md">Clear all entries in your address book</button>
</form>
