@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Search for a contact in your Address Book</h1>
<form action="/contact_search" method="post">
  <div class="form-group">
    <label for="search">Enter a name of your contact:</label>
    <input type="text" name="search" id="search" class="form-control">
  </div>
  <button type="submit" class="btn btn-md btn-primary">Search</button>
</form>
