<h1 class="jumbotron">Add a new contact</h1>
<form action="/contacts" method="post">
<div class="panel panel-info">
  <div class="panel panel-heading">Input name, address, phone number and email</div>
  <div class="panel-body">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="text" name="phone" class="form-control" id="phone">
    </div>
    
