<h1>Your contact has been cleared from the list</h1>
<p><a href="/contact_form">Click here to create new contact</a></p>
<p><a href="/contacts">Go back to your Address Book</a></p>
<p><a href="/">Home Page</a></p>
