@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Make your own Address Book</h1>
<p><a href="/contact_form" class="btn btn-md btn-success">Click here to create new contact</a></p>
<p><a href="/contacts" class="btn btn-md btn-info">Go to your Address Book</a></p>
<p><a href="/contact_search_form" class="btn btn-md btn-primary">Click here to search a contact</a></p>
