<h1 class="jumbotron">Make your own Address Book</h1>
<p><a href="/contact_form">Click here to create new contact</a></p>
<p><a href="/contacts">Go to your Address Book</a></p>
<p><a href="/contact_search_form">Click here to search a contact</a></p>
